{% extends 'base.html.twig' %}

{% block title %}Connexion - To Do List{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 85vh;">
    <div class="col-md-4">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>

        <form action="{{ path('login_check') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email :</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required autofocus />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control" required />
            </div>

            <button class="btn btn-primary w-100" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}
