{% extends 'base.html.twig' %}

{% block title %}To Do List - Homepage{% endblock %}

{% block body %}
    <div class="homepage-background">
        <div class="homepage-content">
            <h1>Bienvenue sur Todo List</h1>
            <p class="lead">Gérez facilement toutes vos tâches en un seul endroit.</p>
            <a href="{{ path('task_list') }}" class="btn btn-primary btn-lg mt-3">Voir la liste des tâches</a>
        </div>
    </div>
{% endblock %}
