{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Créer un utilisateur</h1>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3"> <!-- Centrer le formulaire -->
            {{ form_start(form, {'action' : path('user_create'), 'attr': {'class': 'form'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
